.hero {
  position: relative;
  justify-items: center;
  padding: 3rem 0 1rem;
  color: rgb(66, 65, 71);
  overflow: hidden;
}

.heroCover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
  z-index: -1000;
}

.hero a,
.hero a:visited {
  transition: font-size 0.2s ease-in-out;
  color: rgb(71, 65, 65);
}

.hero a:hover {
  font-size: 1.2em;
}

.heroHeader {
  padding-bottom: 1rem;
}

.hero h1,
.hero h2 {
  text-align: center;
}

.hero h1 {
  padding-bottom: 0.75rem;
}

.hero i {
  vertical-align: middle;
}

.heroSocial a {
  padding: 0 0.5em;
  font-size: 1.5em;
}

.heroSocial a:hover {
  font-size: 2em;
}

.heroSocial a:first-child {
  padding-left: 0;
}

.heroSocial a:last-child {
  padding-right: 0;
}
