.hero {
  justify-items: center;
  padding: 3rem 0 1rem;
  background-color: #ccc;
}

.heroHeader {
  padding-bottom: 1rem;
}

.hero h1, .hero h2 {
  text-align: center;
}

.hero h1 {
  font-size: 6em;
  padding-bottom: 0.75rem;
}

.hero h2 {
  font-size: 3em;
}

