@charset "utf-8";

$mobileBreakPoint: 768px;

@import "../node_modules/eva-icons/style/scss/eva-icons.scss";
@import "./fluidigrid.scss";

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 90%;
  margin: 0 auto;
}
